/node_modules
/public/hot
/public/img/*
/public/images/*
/public/storage
/public/js/*
/public/css/*
/public/backend/*
/public/frontend/*
/public/media/*
/public/files/*
/storage/*.key
/storage/*.zip
/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
.package-lock.json
composer-lock
/public/mix-manifest.json
/public/sitemap.xml
/public/robots.txt